* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Arial, sans-serif;
  font-size: small;
}


h1 {
  border: solid 2px;
  border-radius: 10px;
  background-color: #04a94b;
  color: #ffffff;
  text-align: center;
  margin-bottom: 6px;
  margin-top: px;
  font-size: 36px;
  height: 50px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

thead {
  font-weight: 800;
  position: sticky;
  top: 0;
  background-color: #d3d3d3;
}

th,
td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
  max-width: 300px;
  /* Evita que o texto seja quebrado */
}

th {
  background-color: #f2f2f2;
}

img {
  width: 140px;
  margin-top: 10px;
  padding: 0;

}



.submit-line {
  align-items: center;
  position: relative;
  width: 200px;
  margin: 20px 45%;
  border: solid 1px;
  border-radius: 10px;
}

.submit-line input {
  width: 100%;
  border-radius: 10px;
  height: 25px;
}

.fa, fa-search {
  margin-right: 15px;
  margin-bottom: 12px;
}

.submit-lente {
  position: absolute;
  top: 6px;
  right: 0;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
}

td:nth-child(4).break-word {
  overflow-wrap: break-word;
  white-space: pre-line;
}

tr:hover {
  background-color: #04a94b;
  color: #f1f1f1;
}
