body {
  font-family: Arial, sans-serif;
  font-size: small;
}

h1 {
  border: solid 2px;
  border-radius: 5px;
  background-color: #04a94b;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 20px auto;
}

thead {
  font-weight: 800;
  position: sticky;
  top: 0;
  background-color: #d3d3d3;
}

th,
td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
  max-width: 300px;
  /* Evita que o texto seja quebrado */
}

th {
  background-color: #f2f2f2;
}

.submit-lente {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border: none;
  background: transparent;
  outline: none;
}

.submit-line {
  position: relative;
  width: 200px;
  margin: 20px 78%;
}

.submit-line input {
  width: 100%;
}

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 414px) {
  /* Largura máxima do iPhone 11 */
  body {
    font-size: smaller; /* Tamanho da fonte ajustado */
  }

  h1 {
    font-size: 6vw;
    /* Tamanho da fonte responsiva em relação à largura da viewport */
    margin-bottom: 5vw; /* Margem inferior responsiva */
  }

  table {
    width: 90%; /* Ajuste da largura da tabela */
    margin: 10px auto; /* Margem responsiva */
  }

  th,
  td {
    padding: 2px; /* Espaçamento interno reduzido */
    max-width: 80vw; /* Largura máxima relativa */
  }

  .submit-line {
    width: 90%; /* Largura ajustada para o campo de entrada */
    margin: 10px auto; /* Margem responsiva */
    text-align: center; /* Centraliza o conteúdo interno */
  }

  .submit-line input {
    width: 100%;
    display: inline-block; /* Para centralizar o botão submit */
  }
}
